body{
font-family:sans-serif;
background:lightblue;
}
h1{
color:darkred;
font-size:49px;
tet-align:center;
}
abbr{
font-weight:bold;
color:darkblue;
text-decoration:none;
}

p{
color:darkgreen;
font-size:38px;
}

q{
color:purple;
font-size:41px;
}

address{
font-weight:bold;
font-size:30px;
font-family:fantasy;
}