body{
background:black;
}

h1{
color:white;
font-size:48px;
text-align:center;
}

ol{
font-size:35px;
color:darkred;
}

.ol_A{
list-style-type:upper-alpha;
color:yellow;
font-weight:bold;
}
.ol_i{
list-style-type:lower-roman;
font-size:35px;
background:lightblue;
}
.ol_I{
list-style-type:upper-roman;
background:lime;
}

.ol_a{
list-style-type:lower-alpha;
background:grey;
}
